.productList{
    display: flex;
    flex-wrap: wrap;
    

}
.eachItem{
    display: flex;
    flex-direction: column;
    min-width: 100px;
    max-height: 400px;
    margin: 10px;
    background-color: rgba(63, 60, 60, 0.623);
    z-index: 1;
    width: 27%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.button{
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
}
.productList a{
    color: black;
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
    margin-top: 10px;
    margin-right: 10px;
}
.productList a:hover{
    border: 1px solid white;
    border-radius: 4px;
}